

    <div class="main">

      <div class="content" fxLayout="column" fxLayout.xs="column" fxFlexFill>

        <div fxFlex="250px" class="HTML" fxFlex.xs="30px" fxLayout="fxLayoutAlign">
          <h2 class= "pname">HTML</h2>
            <p>HTML (HyperText Markup Language — «язык гипертекстовой разметки») — самый базовый строительный блок Веба. Он определяет
            содержание и структуру веб-контента. Другие технологии, помимо HTML, обычно используются для описания внешнего
            вида/представления (CSS) или функциональности/поведения (JavaScript) веб-страницы.</p>
            <img src="./assets/img/html.jpg" alt="html-image" width="200" height="200">
        </div>
        <div fxFlex="300px" class="CSS"fxLayout="fxLayoutAlign">
          <h2 class="pname">CSS</h2>
          <p>CSS используется создателями веб-страниц для задания цветов, шрифтов, стилей, расположения отдельных блоков и других
          аспектов представления внешнего вида этих веб-страниц. Основной целью разработки CSS являлось отделение описания
          логической структуры веб-страницы (которое производится с помощью HTML или других языков разметки) от описания внешнего
          вида этой веб-страницы (которое теперь производится с помощью формального языка CSS). Такое разделение может увеличить
          доступность документа, предоставить большую гибкость и возможность управления его представлением, а также уменьшить
          сложность и повторяемость в структурном содержимом.</p>

          <div><img src="./assets/img/css.jpg" alt="css-image" width="300" height="200"></div>

        </div>
        <div fxFlex="300px" class="angul" fxFlex.xs="55" fxLayout="fxLayoutAlign">
          <h2 class="pname">Ангуляр</h2>
        <p> AngularJS — JavaScript-фреймворк с открытым исходным кодом. Предназначен для разработки одностраничных приложений[5].
          Его цель — расширение браузерных приложений на основе MVC-шаблона, а также упрощение тестирования и разработки.

          Фреймворк работает с HTML, содержащим дополнительные пользовательские атрибуты, которые описываются директивами, и
          связывает ввод или вывод области страницы с моделью, представляющей собой обычные переменные JavaScript. Значения этих
          переменных задаются вручную или извлекаются из статических или динамических JSON-данны </p>

          <img class="angular-image" src="./assets/img/angular.jpg" alt="angular-image" width="300" height="200">
        </div>

      </div>

    </div>





