<div class="mainContainer">



<label class="section"  action=''>

  <input type="checkbox" name="packersOff" class="fixed" value="1"><p> HTML</p>
  <input type="checkbox" name="packersOff" class="fixed" value="1"><p>CSS</p>
  <input type="checkbox" name="packersOff" class="fixed" value="1"><p>JavaScript</p>
  <input type="checkbox" name="packersOff" class="fixed" value="1"><p>Angular</p>
  <input type="checkbox" name="packersOff" class="fixed" value="1"><p>CLI</p>
  <input type="checkbox" name="packersOff" class="fixed" value="1"><p>Observables | RxJs</p>
  <input type="checkbox" name="packersOff" class="fixed" value="1"><p>Material UI</p>
  <input type="checkbox" name="packersOff" class="fixed" value="1"><p>Flex layout</p>
  <input type="checkbox" name="packersOff" class="fixed" value="1"><p>TypeScript</p>
  <input type="checkbox" name="packersOff" class="fixed" value="1"><p>Lazy loading</p>
  <input type="checkbox" name="packersOff" class="fixed" value="1"><p>Unit testing</p>
  <input type="checkbox" name="packersOff" class="fixed" value="1"><p>State management</p>

</label>
<img class="photo" src="./assets/img/anim.jpg" alt="my photo" width="200" height="200">




</div>


