
  <div>
    <!-- main sidebar-->
    <aside class="sidebar">

      <img class="photo" src="./assets/img/image.jpg" alt="my photo" width="370px" height="450px">

      <!-- contacts-->
      <div class="Contacts">
        <h3 class="side_bar_title">Contacts</h3>
        <div>
          <span class="contact_sec_tepe">C:</span>
          <a class="contact_sec_link" href="tel:+380993695430">+380993695430</a>
        </div>
        <div>
          <span class="contact_sec_tepe">E:</span>
          <a class="contact_sec_link" href="mailto:Lera_k_icloud.com">Lera_k_icloud.com</a>

        </div>
        <!-- Tech Skills-->
        <div class="Tech_Skills">
          <h3 class="side_bar_title">Tech Skills</h3>
          <ul class="Skills_list">
            <li class="Skills_list_item"> <span class="Skills_list_item_text"> HTML5 </span> </li>
            <li class="Skills_list_item"> <span class="Skills_list_item_text"> CSS3</span> </li>
            <li class="Skills_list_item"> <span class="Skills_list_item_text"> GIT</span> </li>
            <li class="Skills_list_item"> <span class="Skills_list_item_text"> JavaScript</span> </li>

          </ul>
        </div>

        <!-- Soft Skills-->
        <div class="Soft_Skills">
          <h3 class="side_bar_title">Soft Skills</h3>
          <ul class="Skills_list">
            <li class="Skills_list_item"> <span class="Skills_list_item_text"> Scrum </span></li>
            <li class="Skills_list_item"> <span class="Skills_list_item_text"> Teamwork</span></li>
          </ul>

        </div>
      </div>

    </aside>


    <div class="about-me-section">

      <h2 class="about-me-profession">Front-End Developer</h2>
      <h1 class="Name">Valeria Kornienko</h1>

      <p class="about_me_descrip">I am a beginner JavaScript developer. I decided to change my profession, as it was always interesting for me to write
      code, at the same time, I think my previous experience will be useful in future work.</p>

    </div>
  <h3 class="title_name">Work Experience</h3>
  <!-- Company 2 -->
  <div class="Work-Experience">
    <h4 class="proff_name">Product trainer <span class="orange">Binotel</span></h4>
    <p class="date">08/2018 - 07/2021</p>

    <ul class="what_i_do">
      <li>Training new staff on technical product and sales.</li>
      <li>Development of a training program and workbook.</li>
      <li>Additional training of existing personnel</li>
    </ul>
    <!-- Company 1 -->
    <div>
      <h4 class="proff_name"> Supervisor <span class="orange"> Telecontact</span></h4>
      <p class="date">12/2014 - 03/2018</p>

      <ul class="what_i_do">
        <li>Product and sales training for operators.</li>
        <li>Providing feedback on the results of the work.</li>
        <li>Work on the implementation of KPI operators.</li>
        <li>Performance reporting.</li>
      </ul>



    </div>
    </div>

    <!-- Education -->

    <div class="Education">
      <h3 class="title_name">Education</h3>
      <p class="date">2017 - 2019</p>
      <h4 class="orange">Kirovograd Flight Academy</h4>
      <p>Department of Management and Economics</p>

    </div>
    </div>





